
<style>
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
</style>

/*

Mobile first

*/

{
  box-sizing: border-box;
}
*,* :before, *:after {
  box-sizing: inherit;
}

[class*="col-"] {
  width: 100%;
}

body {
    background: rgb(208, 218, 149);
    padding: 3rem;
    font-family: 'Teko', sans-serif;
  }

.title {
}

  .first-section {
    border: 15px solid black;padding: 3rem; 
    margin: 0 auto;
    text-align: center;
    width: 70%;
    
  }

  .text-underline {
    text-decoration: underline;
  }
  
  h1 {
    font-size:4.0em;
    font-family: 'Teko', sans-serif;
    padding: 0.5em;
    border: 2px solid black;
    margin: 0.25em;
  }

  strong {
    font-weight: 100;
    color: rgb(0, 0, 0);
  }
  
  .button {
    width: 10em;
    border: 1px solid rgb(222, 215, 74);
    padding: 1em;
    border-radius: 1em;
    background: white;
  }